<div class="list-group">
    <a href="#!/resultats/{{ journey.id }}" class="list-group-item" ng-repeat="journey in journeys">
        <span class="badge" ng-show="journey.nbPlaces > 1">
            {{ journey.nbPlaces }} places disponibles
        </span>
        <span class="badge ng-class:nbPlacesDanger( journey.nbPlaces )" ng-show="journey.nbPlaces <= 1">
            {{ journey.nbPlaces }} place disponible
        </span>

        <h4 class="list-group-item-heading">
            {{ journey.start.city }} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ journey.end.city }}
        </h4>
        <p class="list-group-item-text">Le {{ formatDate( journey.start.date.getDate() ) }}/{{ formatDate( journey.start.date.getMonth() ) }}/{{ formatDate( journey.start.date.getFullYear() ) }}, départ prévus à {{ formatDate( journey.start.date.getHours() ) }}h{{ formatDate( journey.start.date.getMinutes() ) }}</p>
    </a>
</div>

