<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Résultats de votre trajets {{ journey.start.location.city }} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ journey.end.location.city }}</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-4 ">
            <p><strong>Annonce posté le</strong> <span class="pull-right">05/02/2018</span></p>
            <p><strong>Nombre de vue :</strong> <span class="pull-right">5</span></p>
            
            
            <form action="" method="POST" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="nbPlaces" class="control-label label-nbPlaces col-sm-6">Place disponible :</label>
                    <div class="col-sm-4 pull-right">
                        <input ng-model="journey.nbPlaces" id="nbPlaces" type="number" class="form-control">
                    </div>
                </div>
            </form>
            <button ng-click="showStart()" class="btn btn-primary btn-resultats col-xs-12">Montrer le départ</button>
            <button ng-click="showEnd()" class="btn btn-primary btn-resultats col-xs-12">Montrer l'arrivée</button>
        </div>
        
        <div id="amap" class="col-xs-12 col-sm-8"></div>
      </div>
</div>


<div class="col-sm-4 col-xs-12" ng-repeat="resultat in items">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ resultat.user.name }}</h3>
        </div>
        <div class="panel-body">
            <p>{{ resultat.journey.start.location.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ resultat.journey.end.location.name }}</p>
            <br>
            <p><strong>{{ formatDate( resultat.journey.start.date.getDate() ) }}/{{ formatDate( resultat.journey.start.date.getMonth() ) }}/{{ formatDate( resultat.journey.start.date.getFullYear() ) }}</strong></p>
        </div>
        <table class="table">
            <tr>
                <th>Départ</th>
                <td>{{ formatDate( resultat.journey.start.date.getHours() ) }}h{{ formatDate( resultat.journey.start.date.getMinutes() ) }}</td>
            </tr>
            <tr>
                <th>Arrivée</th>
                <td>{{ formatDate( resultat.journey.end.date.getHours() ) }}h{{ formatDate( resultat.journey.end.date.getMinutes() ) }}</td>
            </tr>
        </table>
        <div class="panel-footer panel-footer-resultats">
            <a href="#!/contact/{{ $index }}" class="btn btn-primary btn-footer-resultat">Contacter</a>
            <button ng-click="showInTheMap( $index )" type="button" class="btn btn-primary btn-footer-resultat">Montrer sur la carte</button>
        </div>
    </div>
</div>

